.btn{
    color: var(--theme);
    background-color: var(--white);
    border: 1px solid var(--theme);
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.5rem !important;
    margin: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto !important;
    cursor: pointer;
    font-size: 0.8rem;
}
.btn:hover{
    color: var(--white);
    background-color: var(--theme);
    transition: all 0.3s;
}
.blue-btn{
    background-color: var(--theme);
    color: var(--white);

}
.blue-btn:hover{
    background-color: var(--white) !important;
    color: var(--theme) !important;
    transition: all 0.3s;
}