.navbar{
    padding: 0rem 1.5rem;
    background-color: var(--theme);
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 500;
}
.link{
    cursor: pointer;
    opacity: 0.5;
}
.link:hover{
    opacity: 1;
    transition: all 0.3s;
}